##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##

# ASPCUD optimization criteria for experimental
$aspcud_criteria = '-removed,-changed,-new,-count(solution,APT-Release:=/experimental/)';
<% if %w{armel armhf}.include?(scope.lookupvar('::debarchitecture')) -%>

# armel/armhf buildds are slow
$stalled_pkg_timeout = 300;
<% end -%>
