##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##

<%=
ignore = []
case @fqdn
when /draghi.debian.org/ then                                  ignore << %w{userdir-ldap userdir-ldap-cgi python-django-ldapdb}
when "sibelius.debian.org" then                                ignore << %w{tivsm-ba tivsm-bacit tivsm-api64 gskssl64 gskcrypt64 tivsm-apicit}
when /(sallinen|lw07).debian.org/ then                         ignore << %w{ruby-dbi ruby-deprecated ruby-dbd-pg}
when /(storace|backuphost).debian.org/ then                    ignore << %w{postgresql-client-9.6}
when "danzi.debian.org" then                                   ignore << %w{postgresql-9.6-debversion postgresql-9.6 postgresql-client-9.6 postgresql-contrib-9.6}
end

ignore.flatten.join("\n")
%>
